.selected-banner {
    width: 100%;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url("../../assets/vv.jpg");
  background-size: cover;
  background-position: center center;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected-banner > h2 {
    color: #fff ;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}