#hero {
  width: 100%;
  height: 100vh;
  background-image:url("../../assets/abs.jpg");
  background-size: cover;
  background-position: center center;
  padding: 2rem;
  display: flex;
  align-items: center;
}
/*
background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url("../../assets/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-color: #133C55;
    -ms-transform: skewY(20deg); 
    transform: skewY(-10deg)
  */
#skewed {
    width: 100%;
    height: 100px;
    background-color: #fe5e20;
    -ms-transform: skewY(-50deg); 
    transform: skewY(-5deg) translateY(-90px);
}
#speedtest {
    width: 200px;
    position: absolute;
    top: 80px;
    left: 85px;
}
.hero-items {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.slider {
    display: none;
}

.hero-content {
    color: #fff;
    width: 90%;
    margin: 10px auto;
    max-width: 400px;
    font-weight: bolder;
    margin-bottom: 35px;
    position: relative;
    z-index: 100;
  }
  #main-title {
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  #hero-intro {
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }
  .add-sim {
    color: #fff;
  }
#add-sim {
    margin-top: 15px;
}
@media only screen and (min-width: 395px){
    .slider {
        display: block;
    }
    #speedtest{
        display: none;
    }
}
@media only screen and (min-width: 1100px) {
    .hero-items {
        flex-direction: row;
        justify-content: center;
    }
}
@media only screen and (min-width: 1500px) {
    #main-title {
        font-size: 4rem;
    }
    #hero-intro {
        font-size: 1.3rem;
    }
}