.home-intro-section {
    width: 100%;
    min-height: 80vh;
}
.intro-box {
    width: 90%;
    max-width: 900px;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro-box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro-box-img {
    width: 200px;
}
.intro-box-para {
    font-size: 1rem;
    width:90%;
    max-width: 400px;
    text-align: left;
}
@media only screen and (min-width: 500px){
    .intro-box {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .intro-box-img {
        width: 300px;
    }
}
@media only screen and (min-width: 900px){
    .intro-box-img {
        width: 300px;
    }
}