.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #133C55;;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}
h1 {
  font-size: 4.209em;
}
h2 {
  font-size: 3.157em;
}
h3 {
  font-size: 2.369em;
}
h4 {
  font-size: 1.777em;
}
h5 {
  font-size: 1.333em;
}
